$brand-red: #d33e51;
$brand-teal: #34aea9;

html, body, #__next {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif

}
p {
	font-size: 16px;
}

.page-container {
	display: flex;
	flex-direction: column;
	height: 100%;

	.header {
		width: 100%;
		display: flex;
		justify-content: center;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			bottom: -20px;
			height: 20px;
			width: 100%;
			background: linear-gradient(white, transparent);
			pointer-events: none;
		}

		.svg-container {
			flex-grow: 1;
			position: relative;
			overflow: hidden;

			svg {
				position: absolute;
				bottom: 0;
			}

			&.left > svg {
				right: 0;
			}

			&.right > svg {
				left: 0;
			}
		}

		.logo {
			max-height: 200px;
		}
	}

	.content-container {
		flex-grow: 1;

		display: flex;
		flex-direction: row;
		height: 100%;

		.content {
			flex-grow: 1;
			height: 100%;
			overflow: auto;
			box-sizing: border-box;
			padding-left: 10vw;
			padding-right: 10vw;
			padding-top: 5vh;
			padding-bottom: 25vh;

			section {
				margin-bottom: 100px;
			}
		}

		.workshop-content {
			flex-grow: 1;
			height: 100%;
			overflow: auto;
			box-sizing: border-box;
			padding-left: 10vw;
			padding-right: 10vw;
			padding-top: 5vh;
		}

		.submit-proposal-content {
			flex-grow: 1;
			height: 100%;
			overflow: auto;
			box-sizing: border-box;
			padding-left: 10vw;
			padding-right: 10vw;
			padding-top: 5vh;
			padding-bottom: 5vh;
		}

		.sidebar {
			display: flex;
			flex-direction: row;
			align-items: center;

			ul.links {
				align-self: stretch;
				width: 100px;
				margin: 0;

				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				list-style: none;

				li {
					cursor: pointer;
					color: #333;

					&.active {
						color: $brand-red;
						font-weight: bold;
					}
				}
			}

			.nav-slider {
				.line, .dot {
					stroke: $brand-red;
				}

				.line {
					stroke-width: 3;
				}

				.dot {
					stroke-width: 15;
					stroke-dasharray: 1, 1000;
					// stroke-dashoffset: -100;
					stroke-linecap: round;
					transition: stroke-dashoffset 1s ease;
				}
			}
		}
	}
}

h4, h3, h2 {
	color: $brand-teal;
	font-weight: 600;
}

.submit-proposal {
	margin-inline-start: 35%;
	background-color: $brand-red;
	border-color: $brand-red;
}